.App-header {
  background-color: #282c34;
  min-height: 100vh;
  max-height: max-content;
  min-width: 100vw;
  max-width: max-content;
  display: flex;
  flex-direction: column;
  font-size: calc(12px + 2vmin);
  color: white;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.Video-background {
  position: static;
  max-width: 50%;
  max-height: 50%;
  border-radius: 3%;
  align-self: center;
  margin-top: 20px;
}

.Row-container {
  justify-content: space-around;
  align-self: center;
}

.Skills-container {
  align-self: center;
  width: 80%;
}

.Education-container {
  align-self: center;
  width: 80%;
}

.Footer-container {
  align-self: center;
  font-size: smaller;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
}